.wrapper {
  display: block;
  padding: 8px;
  border: 2px solid #607d8b;
  border-radius: 4px;
}

.wrapper:not(:last-of-type) {
  margin-block-end: 18px;
}

.wrapper > h2 {
  font-size: 22px;
  margin: 0;
  margin-block-end: 14px;
  color: #1b5069;
}

.content {
}
